@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light-green: #01afa2;
  --primary-dark-green: #036263;
  --secondary-purple: #7f56d9;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  color: primary-dark-green;
}
